<%- include('./includes/header')%>
<section>
  <div class="container">
    <h2><%= post.title%></h2>
    <img src="<%= post.imgUrl %>" alt="<%= post.title%>" />
    <p><%=post.description%></p>
    <div class="flex-space">
      <form action="/admin/delete/<%= post._id%>" method="post">
        <button>Detete</button>
      </form>
      <a href="/admin/edit/<%= post._id%>">Edit</a>
    </div>
  </div>
</section>
<%- include('./includes/footer')%>
